<% const employees = data.employees; %>
<% const storedetail = data.stores;  %>

<div style="width: 25%;" class="d-flex justify-content-center">
  <form action="/search" method="post" class="d-flex" role="search">
    <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<table
  style="width: 99%;"
  class="text-center mx-auto table mt-5 table-striped table-bordered"
>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Role</th>
      <th scope="col">Store</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% employees.forEach((e, index) => { %>
      <% 
      // Find the store for the employee
      const storeData = storedetail.find(s => s.StoreID === e.storeID);
      %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= e.employee_id %></td>
        <td><%= e.employee_name + " " + e.employee_lastname %></td>
        <td><%= e.employee_email %></td>
        <td><%= e.employee_phone %></td>
        <td><%= e.employee_role %></td>
        <td><%= storeData ? storeData.StoreName : 'Store not found' %></td>
        <td><%= e.employee_address %></td>
        <td>
          <a
            data-bs-toggle="tooltip"
            data-bs-title="View details"
            data-bs-placement="top"
            class="btn btn-primary btn-sm"
            href="/view/<%= e.employee_id %>"
          >
            <i class="bi bi-eye"></i>
          </a>

          <a
            data-bs-toggle="tooltip"
            data-bs-title="Edit user"
            data-bs-placement="top"
            class="btn btn-primary btn-sm"
            href="/edit/<%= e.employee_id %>"
          >
            <i class="bi bi-pencil"></i>
          </a>

          <a
            href="/edit/<%= e.employee_id %>"
            data-bs-toggle="tooltip"
            data-bs-title="Delete user"
            data-bs-placement="top"
            class="btn btn-danger btn-sm"
          >
            <i class="bi bi-trash"></i>
          </a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
