<div class="container mt-5">
  <% const promotion = data.promotion; %>

  <!-- Breadcrumb Navigation -->
  <nav class="px-2 mt-4 d-flex flex-wrap justify-content-between" aria-label="breadcrumb">
    <ol class="breadcrumb  p-3 shadow-sm rounded">
      <li class="breadcrumb-item">
        <a href="/promotions" class="text-decoration-none text-primary">
          <i class="bi bi-arrow-left"></i> Back
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Promotion ID: <%= promotion.PromotionID ? promotion.PromotionID : "" %>
      </li>
    </ol>
  </nav>

  <!-- Promotion Details Table -->
  <div class="table-container mt-4">
    <table class="table table-striped table-bordered table-responsive">
      <thead class="table-primary">
        <tr>
          <th scope="col">Attribute</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Promotion Name</th>
          <td><%= promotion.PromotionName %></td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td><%= promotion.Description ? promotion.Description : "N/A" %></td>
        </tr>
        <tr>
          <th scope="row">Start Date</th>
          <td><%= promotion.StartDate ? new Date(promotion.StartDate).toISOString().split('T')[0] : "N/A" %></td>
        </tr>
        <tr>
          <th scope="row">End Date</th>
          <td><%= promotion.EndDate ? new Date(promotion.EndDate).toISOString().split('T')[0] : "N/A" %></td>
        </tr>
        <tr>
          <th scope="row">Discount Percentage</th>
          <td>
            <% if (promotion.DiscountPercentage) { %>
              <span class="badge bg-success"><%= promotion.DiscountPercentage %>%</span>
            <% } else { %>
              0 %
            <% } %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
