<% const store = data.stores;  %>
<% console.log("store data header: " + JSON.stringify(store, null, 2)); %>

<div style="width: 25%;" class="d-flex justify-content-center">
  <form action="/searchstore" method="post" class="d-flex" role="search">
    <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<table
  style="width: 99%"
  class="text-center mx-auto table mt-5 table-striped table-bordered"
>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Store ID</th>
      <th scope="col">Store Name</th>
      <th scope="col">Location</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% store.forEach((e, index) => { %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= e.StoreID %></td>
      <td><%= e.StoreName %></td>
      <td><%= e.Location %></td>
      <td><%= e.Address %></td>
      <td>
        <a
          data-bs-toggle="tooltip"
          data-bs-title="View details"
          data-bs-placement="top"
          class="btn btn-primary btn-sm"
          href="/addstore"
        >
        <i class="bi bi-plus-circle"></i>
        </a>

        <a
          data-bs-toggle="tooltip"
          data-bs-title="Edit store"
          data-bs-placement="top"
          class="btn btn-primary btn-sm"
          href="/editstore/<%= e.StoreID %>"
        >
          <i class="bi bi-pencil"></i>
        </a>

        <a
        href="/editstore/<%= e.StoreID %>"
          data-bs-toggle="tooltip"
          data-bs-title="Delete store"
          data-bs-placement="top"
          class="btn btn-danger btn-sm"
        >
          <i class="bi bi-trash"></i>
        </a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
